<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.qa.utilities.Reporting"></listener>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name = "Browser" value = "chrome"/>
    <parameter name = "Url" value = "https://parabank.parasoft.com/"/>
    <classes>      
      <class name="com.qa.TestScripts.TC_01_TransferFunds"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
